<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/photographer/css/photographer/style.css">
    <link rel="stylesheet" href="/photographer/css/lightbox/lightbox.css">
    <link rel="stylesheet" href="/photographer/css/overlay/overlay.css">
	<link rel="stylesheet" href="/photographer/css/Formulaire/style.css">
	<link rel="icon" type="image/x-icon" href="/asset/account/account.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <title>Photographers</title>
</head>

<body>
	
	<header class="enTete">
		<a href="/index.html">
			<img src="/asset/images/logo.png" alt="logo FishEye">
		</a>
	</header>

	<section class="bgFormulaire" aria-hidden="true" role="backGround"> 

		<form class="formulaire" aria-label="formulaire" role="dialog" aria-labelledby="titreFormulaire">
			<div class="titre_formulaire">
				<h2 id="titreFormulaire" tabindex="0">Contactez-moi</h2>
				<button class="btnFormulaireClose" tabindex="0"></button>
				<h3 tabindex="0"></h3>
			</div>

			<div>
				<label for="prenom">Prénom</label>
				<input type="text" placeholder="Prénom" name="prenom" id="prenom" class="prenom1" required aria-required="true">
				<span class="mesgErrorPrenom"></span>
			</div>

			<div>                
				<label for="nom">Nom
					<input type="text" placeholder="Nom" name="nom" id="nom" class="nom1" required aria-required="true">
					<span class="mesgErrorNom"></span>
				</label>
			</div>

			<div>
				<label for="Email">Email
					<input type="email" placeholder="Email" name="email" id="email" required aria-required="true">
					<span class="mesgErrorEmail"></span>
				</label>
			</div>

			<div>
				<label for="message">Votre message
					<textarea name="message" id="message" cols="30" rows="7" placeholder="Votre message"></textarea>
					<span class="mesgErrorArea"></span>
				</label>
			</div>

			<button class="submit" type="submit"> Envoyer </button>
			
		</form>

		<div class="bg-modal-merci">
			<div class="modal_merci">
			<span class="close-modal-merci" tabindex="0"></span>
			<p>Votre forulaire a bien été pris en compte</p>
			<button class="btn-merci">Merci</button>
			</div>
		</div>

	</section>

	<main class="containerPhotographer">
		<!-- info photographer -->
		<div class="bannerPhotographer"></div>
		<!-- function bannerPhotographer -->
		<div class="galeriePhotographer">
			<!-- function galeriePhotographer -->
		</div>
	</main>
	<script src="/photographer/script/app.js" type="module"></script>
</body>
</html>