*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

.enTete {
  width: 95%;
  margin: 2rem auto;
}
.enTete img {
  width: 15%;
  object-fit: contain;
  transition: 0.3s;
}
.enTete img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 750px) {
  .enTete img {
    width: 40%;
  }
}
.containerPhotographer {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.containerPhotographer .bannerPhotographer {
  display: grid;
  grid-template-columns: 1fr 9rem 1fr;
  max-width: 1450px;
  margin: 0 auto;
  background: #FAFAFA;
}
.containerPhotographer .bannerPhotographer__info {
  width: calc(100% - 2rem);
  margin: 0 auto;
}
.containerPhotographer .bannerPhotographer__name {
  font-size: 64px;
  color: #d3573c;
}
.containerPhotographer .bannerPhotographer__streetCity {
  font-size: 24px;
  color: #901c1c;
}
.containerPhotographer .bannerPhotographer__tagline {
  font-size: 18px;
  color: #6d6d6d;
  margin-bottom: 10px;
}
.containerPhotographer .bannerPhotographer button {
  display: flex;
  align-self: center;
  border-radius: 0.5rem;
  background: #901c1c;
  color: white;
  width: 10rem;
  height: 69px;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-family: "DM SANS", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  transition: 0.3s;
}
.containerPhotographer .bannerPhotographer button:hover {
  transform: scale(1.1);
  background: #DB8876;
  color: black;
}
.containerPhotographer .bannerPhotographer__image {
  justify-self: end;
  align-self: center;
  margin-right: 1rem;
  transition: 0.3s;
}
.containerPhotographer .bannerPhotographer__image img {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin: 1rem auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.containerPhotographer .bannerPhotographer__image img:hover {
  box-shadow: 0 0 5px rgba(144, 28, 28, 0.5);
}
.containerPhotographer .bannerPhotographer__image:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 1300px) {
  .containerPhotographer .bannerPhotographer {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 750px) {
  .containerPhotographer .bannerPhotographer {
    min-width: 275px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .containerPhotographer .bannerPhotographer__info {
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .containerPhotographer .bannerPhotographer {
    margin: 0 1rem;
  }
}

.trieAll {
  display: flex;
  max-width: 1450px;
  margin: 2rem auto;
}
.trieAll p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.trieAll select {
  font-family: "DM Sans", sans-serif;
  color: whitesmoke;
  font-weight: 700;
  font-size: 18px;
  margin-left: 25px;
  background-color: #901c1c;
  padding: 1em;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.trieAll select option {
  color: whitesmoke;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid whitesmoke;
  padding: 1em;
}

@media screen and (max-width: 1300px) {
  .trieAll {
    margin: 2rem 2rem;
  }
}
.galeriePhotographer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1450px;
  margin: 0 auto;
}
.galeriePhotographer .card {
  display: grid;
  width: 350px;
  grid-template-areas: "image image" "titre info";
  margin: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
  gap: 5px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.galeriePhotographer .card:hover {
  transform: scale(1.1);
}
.galeriePhotographer .card__imageCard {
  grid-area: image;
  object-fit: cover;
  object-position: center;
  object-position: top;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
.galeriePhotographer .card__media {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.galeriePhotographer .card__titre {
  grid-area: titre;
  margin-left: 1rem;
  font-size: 1rem;
  color: #901c1c;
}
.galeriePhotographer .card__info {
  display: flex;
  margin-right: 1rem;
  justify-content: end;
  gap: 0.5rem;
  grid-area: info;
  color: #901c1c;
  line-height: 16px;
}
.galeriePhotographer .card__infoLike {
  color: black;
}/*# sourceMappingURL=style.css.map */