*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$brd_red: 1px solid red;
$brd_blue: 1px solid blue;
$brd_vio: 2px solid violet;
$shadow_B: 0 0 5px rgba(black, .5);
$shadow_Pi: 0 0 5px rgba(pink, .5);
$margin_b: 0 0 1rem 0;
$margin_b2: 0 0 2rem 0;
$margin_0auto: 0 auto;
$margin_1auto: 1rem auto;
$margin_2auto: 2rem auto;
$margin_t: 1rem auto;
$margin_t2: 2rem auto;
$radius_2: 2rem;
$primaire:#901c1c;
$primaire_2:#d3573c;
$secondaire: #d3573c;
$secondaire_2: #FAFAFA;
$secondaire_3: #6d6d6d;
$secondaire_4: #901c1c;

.enTete {
	width: 95%;
	margin: $margin_2auto;
	img {
		
		width: 20%;
		object-fit: contain
	}
}
.containerPhotographer{
	width: 100%;
	max-width: 1500px;
	margin: $margin_0auto;

	.bannerPhotographer {
		display: flex;
		justify-content: space-between;
		width: 95%;
		height: auto;
		margin: $margin_0auto;
		box-shadow: $shadow_Pi;
		
		&__titre{
			color: #d3573c;
		}
		img{
				width: 10rem;
                height: 10rem;
                margin: $margin_t;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                box-shadow: $shadow_B;
		}
	}
}
	