$primaire:#901c1c;

.lightBox {
	font-family: 'DM Sans', sans-serif;
	position: fixed;
	display: none;
	top: 50%;
	left: -50%;
	transform: translate(50%, -50%);
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background : white;
	z-index: 1;
	
	& .lightBox__wrapper {
		position: unset;
		height: 100vh;
		width: fit-content;
		margin: 0 auto;
	}

	& .lightBox__image {
		position : relative;
		object-fit: contain;
		object-position: top;
		width : fit-content;
		margin : 0 auto;
		height : 90%;
		top : 50%;
		transform : translateY(-50%);
	}

	& .lightBox__video {
		height : 90%;
	}

	& .lightbox__title {
		position : absolute;
		width : 100%;
		bottom : 5%;
		transform: translateY(25px);
		text-align:start;
		color: #901c1c;
		font-weight: 600;
	}

	& .lightbox__arrow {
		position : absolute;
		top : 40%;
		display : block;
		width : 64px;
		height : 32px;
		text-align : center;
		cursor : pointer;

		&.left {
			left : 0;
			font-size: 4rem;
			color: $primaire;
			transition: .3s;
			
			&:hover {
				transform: scale(1.1);
				color: red
			}
		}

		&.right {
			right : 0;
			font-size: 4rem;
			color: $primaire;
			transition: .3s;
			
			&:hover {
				transform: scale(1.1);
				color: red
			}
		}		
			
		&.close {
			display : flex;
			font-size: 3rem;
			justify-content: center;
			align-items: center;
			top : 1rem;
			transform : translateY(0);
			
			&:hover {
				color: red;
			}
		}
	}
}