
$secondaire: #DB8876;

.overlay {
	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	font-weight: 500;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	right: 2rem;
	padding: 1rem 3rem;
	background: $secondaire;
	border-radius: 1rem 1rem 0 0;
	cursor: pointer;
	transition: .3s;
	
	&:hover {
		transform: scale(1.1);
		border: #901c1c solid;
	}

	&__nbrTotalLikes {
		padding-right: 2rem;
	}
	
	&__prixJour {
		padding-left: 2rem;
	}

}
@media screen and (max-width:750px) {
	.overlay {
		justify-content: center;
		padding: .5rem 2.5rem;
	
	}
}
@media screen and (max-width:400px) {
	.overlay {
		padding: .5rem 9rem;
		left: 50%;
		transform: translate(-50%, -0%);
		transition: none;
		
		&:hover {
			transform: none;
			// border: #901c1c solid;
		}
	}

}